<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"> <span> Giải Mã Thần Số  </span> </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
       <a class="nav-link" href="#"> <i class="fa fa-home" aria-hidden="true"></i> Trang chủ <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Khám phá bản thân
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Sinh Trắc học</a>
          <a class="dropdown-item" href="#">Thần số học</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">MBTI</a>
        </div>
      </li>
      <%# <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li> %>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Tìm Kiếm">
      <% if current_user.nil? %>
        <%= link_to 'Đăng nhập', "admin/login", { class: 'btn btn-info btn-lg'}  %>
      <% else %>
        <%= link_to 'Đăng xuất', "admin/logout", { class: 'btn btn-info btn-lg'}  %>
      <% end %>
    </form>
  </div>
</nav>


<style>
/* @media (min-width: 768px) */
</style>
